body,p,dl,dd,ul,ol,li,div,h1,h2,h3,h4,h5,h6,form,input,table,tr,td{
	margin:0;
	padding:0;
}
body{
	font-family: "微软雅黑",Arial;
}
ul,ol{
	list-style:none;
}
img{
	border: 0;
}
a{
	text-decoration: none;
}
img{
	border:0;
}

/*contentWrap*/
.contentWrap{
	width: 100%;
	height: 600px;
	background: #000;
}
.content{
	width: 1150px;
	margin:0 auto;
	overflow: hidden;
	padding-top: 90px;
}
.bannerImg{
	float: left;
}
.bannerImg img{
	width: 720px;
	height: 400px;
}
.loginBox{
	width: 350px;
	background: #fff;
	float: right;
	position: relative;
	
}
.loginHeader{
	overflow: hidden;
	padding-bottom: 20px;
}
.loginHeader_con{
	width: 33.33%;
	height: 38px;
	float: left;
	line-height: 38px;
	color: #222;
	background: #e7e7e7;
	text-align: center;
	cursor: pointer;
	border-top: 2px solid #e7e7e7;
	box-sizing: border-box;
}
.loginHeader_con1{
	color: #ff1268;
	background: #fff;
	border-top: 2px solid #ff1268;
}
.loginCon{
	width: 300px;
	margin:0 auto;
	padding-bottom: 20px;
}
.shuru {
	position: relative;
	box-sizing: border-box;
	padding-bottom: 20px;
}
.shuru img{
	width: 40px;
	height: 40px;
	position: absolute;
	left: 1px;
	top: 1px;
}
.shuru input{
	width: 300px;
	height: 42px;
	border:1px solid #e7e7e7;
	padding-left: 50px;
	box-sizing: border-box;
	outline: none;
}
.shuru .inputs2{
	padding-left: 123px;
}
.btnBox{
	width: 100%;
}
.btnBox input{
	width: 100%;
	height: 42px;
	font-size: 20px;
	line-height: 42px;
	cursor: pointer;
	color: #fff;
	border-radius:3px;
	border: 1px solid #ff9000;
	background-color: #ff1268;
	background-image: linear-gradient(90deg,#ff4aae,#ff1268);
    border-color: #ff1268;
}
.btnBox .inputssssss{
	width: 300px;
}
.dsfLogin{
	width: 100%;
	padding:8px 0;
	overflow: hidden;
}
.dsfLogin a,.dsfLogin img{
	float: left;
}
.dsfLogin a{
	padding-right: 10px;
	margin:10px 0;
}
.loginFooter{
	overflow:hidden;
	padding:8px 0;
}
.loginFooter a{
	float: right;
	font-size: 14px;
	color: #08c;
	padding-left: 10px;
}
.shuru2{
	position: relative;
}
.phone-code{/*
	width: 70px;*/
	height: 40px;
	float: left;
	position: absolute;
	left: 0;
	top: 0;
	line-height: 40px;
	border-right:1px solid #e7e7e7;
	padding-left: 47px;
	padding-right:39px;
	font-size: 14px;
	color: #666666;		
}
.phone-code img{
	width: 12px;
	height: 40px;
	/*float: left;*/
	position: absolute;
	left: 80px;
	top:1px;
}
.yzm{
	position: absolute;
	font-size: 14px;
	color:#0088cc;
	left: 221px;
	top: 11px;
}
.loginCon11{
	/*display: none;*/
	margin:0 25px;
}
.loginCon2{
	width: 100%;
	padding-bottom: 90px;
	position: absolute;
	left: 0px;
	top: 58px;
	background: #fff;
	display: none;
	padding-left:25px;
	padding-right: 25px;
	height: 169px;
}
.loginCon2 button{
	width: 300px;
}
.loginCon3{
	width: 100%;
	position: absolute;
	left: 0px;
	top: 58px;
	background-color: #Fff;
	display: none;
	height: 239px;
}
.loginCon3_title{
	width: 100%;
	text-align: center;
	font-weight: 900;
	font-size: 16px;
	color: #666666;

}
.loginCon3_con{
	width: 130px;
	height: 130px;
	margin:20px auto;
}
.dlewm{
	text-align: center;
}
.loginCon3_footer{
	width: 160px;
	margin:0 auto;
	overflow: hidden;
}
.loginCon3_footer img{
	width: 32px;
	height: 30px;
	float: left;
	padding-right: 10px;
}
.loginCon3_footer p {
	float: left;
	font-size: 12px;
	color: #666666;
}
.loginCon3_footer p a{
	color: #0088cc;
}
footer .footerMessage2{
	padding-left: 0;
}